# Author: Nyle Luza
# Assignment 3

## Problem 1: Knowledge Q & A (60% + 10% extra)

• Answering the following questions about the data transformation and dimension reduc-
tion.

• Don’t use any python library while solving these questions.

1) True or false, in the decision tree algorithm, after we have calculated the informa-
tion gain of each attributes regarding the object, we could always process the feature
selection. Explain your answer.

    - This is false because having using just information gain itself could lead to overfitting since IG elects attributes with more classes as node. This could lead to biased and overfitted models.

2) True or false, in the decision tree algorithm, after we have calculated the information gain of each attributes regarding the object, we could always construct the whole
decision tree. Explain your answer.
    
    - False, because the information must be recalculated at each node

3) Suppose you have the following 2-itemsets candidates and their support counts, with a
minimum support threshold of 3:
Using the Apriori algorithm, list all of the potential 3-itemsets, also indicates it
can/cannot be frequent, explain your answers
    - 3-itemset candidates:
        {A, B, D} is a candidate because the itemsets {A, B}, {B, D}, and {A, D} each have a count >= 3 (min support threshold).

        {B, C, D} is not a candidate since itemset {B, C} has a count of 2 which makes this itemset not frequent and since the subset is not frequent then the superset is not frequent

4) Given the following FP-tree, support minimum support is 3:
    (a) *Attached on Canvas*
    (b) *Attached on Canvas*

# Problem 2: Programming: Frequent Pattern Mining (40%)

    - In previous lectures, we have covered the frequent pattern mining using both apriori
    and fp-growth algorithm, this assignment will require you to apply the algorithms into
    a larger dataset.
    
    - Again, present the result of each step in separate code block (text entry), NO POINTS
    if you mess them together into one code block!

1. Given a transaction dataset order products train.csv, read the data into your pro-
gram

In [50]:
import pandas as pd

data = pd.read_csv("order_products__train.csv")
data

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

2. Take a preview of the data, we will only take care about first two columns, order id,
and product id. To apply the frequent pattern mining algorithm, first you need convert
the data into a boolean vector. One strategy is convert the data into a list of list so
that can be processed by TransactionEncoder() from mlextend.

        For example:
        (a) Create an empty list L to save the output

        (b) Group the dataframe by its order id.

        (c) Convert data of product id into a list.

        (d) Append to the list L.

        (e) Encoding L use TransactionEncoder.

In [54]:
from mlxtend.preprocessing import TransactionEncoder
filter_data = data[["order_id", "product_id"]]
L = []

# group each order id and converts the products ids under that order id into a list
for _, group in filter_data.groupby("order_id"):
    L.append(list(group["product_id"]))

encoder = TransactionEncoder()
encoded_arr = encoder.fit(L).transform(L)

encoded_df = pd.DataFrame(encoded_arr)

encoded_df

,0,1,2,3,4,5,6,7,8,9,...,39113,39114,39115,39116,39117,39118,39119,39120,39121,39122
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131207,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131208,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

3. Apply apriori algorithm, suppose the minimum support is 1%

In [55]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(encoded_df, min_support = 1/100, use_colnames=True)
frequent_itemsets

      support        itemsets
0    0.011485           (167)
1    0.010175          (3322)
2    0.028672          (3640)
3    0.010091          (3797)
4    0.030935          (3891)
..        ...             ...
115  0.010144  (20648, 19574)
116  0.016447  (37499, 19574)
117  0.016889  (37609, 19574)
118  0.012156  (20648, 37499)
119  0.010281  (37609, 37499)

[120 rows x 2 columns]

4. Apply FP-growth algorithm with same min sup.

In [57]:
"""from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets_fp = fpgrowth(encoded_df, min_support=1/100, use_colnames=True)
frequent_itemsets_fp"""
# Crashed

'from mlxtend.frequent_patterns import fpgrowth\nfrequent_itemsets_fp = fpgrowth(encoded_df, min_support=1/100, use_colnames=True)\nfrequent_itemsets_fp'

5. Any noticeable differences between the two algorithms? (Note: You may encounter an
out-of-memory (OOM) crash if you are using Google Colab to complete this assignment.
If this happens, comment out the crashed algorithm and add a note saying “crashed!”.
At least one of the algorithms should work. If both fail, contact the professor for
assistance.)

    - Second algorithm crashed, cant see differences

6. Apply association rules with minimum confidence threshold as 10%.

In [58]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(16685),(10367),0.083028,0.117980,0.023428,0.282174,2.391714,1.0,0.013633,1.228738,0.634577,0.131931,0.186157,0.240376
1,(10367),(16685),0.117980,0.083028,0.023428,0.198579,2.391714,1.0,0.013633,1.144183,0.659724,0.131931,0.126014,0.240376
2,(17300),(10367),0.074568,0.117980,0.017042,0.228536,1.937082,1.0,0.008244,1.143308,0.522739,0.097099,0.125345,0.186490
3,(10367),(17300),0.117980,0.074568,0.017042,0.144444,1.937082,1.0,0.008244,1.081674,0.548468,0.097099,0.075507,0.186490
4,(22024),(10367),0.042268,0.117980,0.013566,0.320952,2.720400,1.0,0.008579,1.298907,0.660318,0.092487,0.230122,0.217970
5,(10367),(22024),0.117980,0.042268,0.013566,0.114987,2.720400,1.0,0.008579,1.082167,0.716998,0.092487,0.075928,0.217970
6,(37164),(10367),0.055583,0.117980,0.018444,0.331825,2.812560,1.0,0.011886,1.320044,0.682381,0.118901,0.242449,0.244078
7,(10367),(37164),0.117980,0.055583,0.018444,0.156331,2.812560,1.0,0.011886,1.119416,0.730654,0.118901,0.106677,0.244078
8,(13228),(19574),0.049494,0.142719,0.014847,0.299969,2.101819,1.0,0.007783,1.224633,0.551518,0.083706,0.183429,0.201998
9,(19574),(13228),0.142719,0.049494,0.014847,0.104026,2.101819,1.0,0.007783,1.060864,0.611493,0.083706,0.057373,0.201998
10,(17300),(16685),0.074568,0.083028,0.012492,0.167518,2.017617,1.0,0.006300,1.101492,0.545006,0.086086,0.092141,0.158984
11,(16685),(17300),0.083028,0.074568,0.012492,0.150450,2.017617,1.0,0.006300,1.089320,0.550034,0.086086,0.081996,0.158984
12,(16685),(19574),0.083028,0.142719,0.016569,0.199559,1.398269,1.0,0.004719,1.071012,0.310620,0.079210,0.066303,0.157827
13,(19574),(16685),0.142719,0.083028,0.016569,0.116095,1.398269,1.0,0.004719,1.037411,0.332248,0.079210,0.036062,0.157827
14,(22024),(16685),0.042268,0.083028,0.012728,0.301118,3.626710,1.0,0.009218,1.312056,0.756233,0.113067,0.237837,0.227207
15,(16685),(22024),0.083028,0.042268,0.012728,0.153295,3.626710,1.0,0.009218,1.131128,0.789847,0.113067,0.115927,0.227207
16,(37164),(16685),0.055583,0.083028,0.011729,0.211024,2.541609,1.0,0.007114,1.162231,0.642246,0.092444,0.139586,0.176147
17,(16685),(37164),0.083028,0.055583,0.011729,0.141270,2.541609,1.0,0.007114,1.099784,0.661469,0.092444,0.090730,0.176147
18,(17300),(19574),0.074568,0.142719,0.015243,0.204415,1.432294,1.0,0.004601,1.077549,0.326139,0.075443,0.071968,0.155609
19,(19574),(17300),0.142719,0.074568,0.015243,0.106803,1.432294,1.0,0.004601,1.036090,0.352066,0.075443,0.034833,0.155609
20,(37609),(17300),0.056467,0.074568,0.010685,0.189229,2.537673,1.0,0.006475,1.141423,0.642201,0.088785,0.123900,0.166262
21,(17300),(37609),0.074568,0.056467,0.010685,0.143295,2.537673,1.0,0.006475,1.101351,0.654763,0.088785,0.092024,0.166262
22,(20648),(19574),0.045980,0.142719,0.010144,0.220620,1.545836,1.0,0.003582,1.099953,0.370119,0.056812,0.090870,0.145849
23,(37499),(19574),0.062000,0.142719,0.016447,0.265274,1.858714,1.0,0.007598,1.166803,0.492531,0.087358,0.142957,0.190257
24,(19574),(37499),0.142719,0.062000,0.016447,0.115241,1.858714,1.0,0.007598,1.060175,0.538905,0.087358,0.056760,0.190257
25,(37609),(19574),0.056467,0.142719,0.016889,0.299096,2.095698,1.0,0.008830,1.223107,0.554122,0.092646,0.182410,0.208717
26,(19574),(37609),0.142719,0.056467,0.016889,0.118338,2.095698,1.0,0.008830,1.070175,0.609872,0.092646,0.065574,0.208717
27,(20648),(37499),0.045980,0.062000,0.012156,0.264379,4.264159,1.0,0.009305,1.275113,0.802381,0.126859,0.215756,0.230223
28,(37499),(20648),0.062000,0.045980,0.012156,0.196066,4.264159,1.0,0.009305,1.186690,0.816085,0.126859,0.157320,0.230223
29,(37609),(37499),0.056467,0.062000,0.010281,0.182076,2.936692,1.0,0.006780,1.146805,0.698948,0.095033,0.128012,0.173951
30,(37499),(37609),0.062000,0.056467,0.010281,0.165827,2.936692,1.0,0.006780,1.131099,0.703071,0.095033,0.115904,0.173951