In [23]:
import random
department = ( " frozen " ,
" bakery " ,
" produce " ,
" alcohol " ,
" international " ,
" beverages " ,
" pets " ,
" dry goods pasta " ,
" bulk " ,
" personal care " ,
" meat seafood " ,
" pantry " ,
" breakfast " ,
" canned goods " ,
" dairy eggs " ,
" household " ,
" babies " ,
" snack " ,
" deli " ,
)
student_id_one = 202218932 # Replace with your student ID
student_id_two = None
seed = (student_id_one + student_id_two) // 2 if student_id_two else student_id_one
random.seed(seed)
selected_department = random.choices( department , k = 5 )
print(selected_department)

[' babies ', ' produce ', ' dairy eggs ', ' canned goods ', ' snack ']

In [ ]:
# Chose snack dpt
import pandas as pd

path = "instacart-market-basket-analysis"

# init df for each csv and make copy
df_products = pd.read_csv(f"{path}/products.csv")
df_products_origin = df_products.copy()

df_orders = pd.read_csv(f"{path}/orders.csv")
df_orders_origin = df_orders.copy()

df_aisles = pd.read_csv(f"{path}/aisles.csv")
df_aisles_origin = df_aisles.copy()

df_order_products__train = pd.read_csv(f"{path}/order_products__train.csv")
df_order_products__train_origin = df_order_products__train.copy()


# filter products to show just snack products
df_dept_products = df_products[df_products["department_id"] == 19]
#df_dept_products
df_order_products__train

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
15,16,Mint Chocolate Flavored Syrup,103,19
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19
31,32,Nacho Cheese White Bean Chips,107,19
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19
...,...,...,...,...
49661,49662,Bacon Cheddar Pretzel Pieces,107,19
49664,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19
49665,49666,Ginger Snaps Snacking Cookies,61,19
49670,49671,Milk Chocolate Drops,45,19
49678,49679,Famous Chocolate Wafers,61,19

In [ ]:
# checks to see if there are in null values in products csv
df_dept_products.isna().any().any()

np.False_