# Problem 1: Knowledge Q & A (40%)

• Answering the following questions about the data transformation and dimension reduc-
tion.
• Avoid using any Python libraries to solve these questions unless their use is explicitly
required.

(1) Normalize the following group of data by using min-max normalization [-1, 1]:
200, 300, 400, 600, 1000

- new_data = -1, -0.75, -0.5, 0, 1

(2) Verify your results using Python. You can either apply the equation manually or use
the MinMaxScaler from scikit-learn. Note that you need to reshape the array to two
dimensions to use this transformation: reshape((-1, 1)).

In [4]:
data = [200, 300, 400, 600, 1000]
def minmaxscaler(data, new_min, new_max):
    min_a = min(data)
    max_a = max(data)
    # equation -> ((x-min_a)/max_a - min_a)*(new_max_a - new_min_a) + new_min_a
    formula = [((x-min_a)/(max_a - min_a))*(new_max - new_min) + new_min for x in data]
    print("before: ", data, "\nafter: ", formula)
minmaxscaler(data, -1, 1)

before:  [200, 300, 400, 600, 1000]
after:  [-1.0, -0.75, -0.5, 0.0, 1.0]

(3) Suppose a group of sales price records has been sorted as follows:
5, 10, 11, 13, 15, 35, 50, 55, 72, 92, 204, 225
<br>
<br>
<br>
- Partition them into three bins by each of the following methods:

    - (a) Equal-fequency (equal depth) partitioning

    - size of bins need to be equal
    - of elements in each bin -> 4

        - [5, 10, 11, 13] | [15, 35, 50, 55] | [72, 92, 204, 225]

        - apply mean to bins

        - [9.75, 9.75, 9.75, 9.75] | [38.75, 38.75, 38.75, 38.75] | [148.25, 148.25, 148.25, 148.25]


    (b) Equal-width partitioning

    - elements in the bins need to fit a certain range
    - set a range (max - min)
    - set bin width range / number of bins
    - Range = 220 | bin width = 220/3 = apprx. 73

        - [5, 10, 11, 13, 15, 35, 50, 55, 72] | [92] | [204, 225]

        - apply mean to bins

        - [29.55, 29.55, 29.55, 29.55, 29.55, 29.55, 29.55, 29.55, 29.55] | [92] | [214.5, 214.5]



    Use python dictionary to present your answer, i.e.:
    {range1: [list of numbers fall in range1],
    range2: [list of numbers fall in range2],
    ...}

In [5]:
data = [5, 10, 11, 13, 15, 35, 50, 55, 72, 92, 204, 255]
range = max(data) - min(data)
num_bins = 3
bin_width = range/num_bins
dict = {'bin1': [x for x in data if x >= min(data) and x <= min(data) + bin_width]}
dict['bin2'] =  [x for x in data if x > max(dict['bin1']) and x <= max(dict['bin1']) + bin_width]
dict['bin3'] =  [x for x in data if x > max(dict['bin2'])and x >= max(dict['bin2']) + bin_width]
print(dict)

{'bin1': [5, 10, 11, 13, 15, 35, 50, 55, 72], 'bin2': [92], 'bin3': [204, 255]}

4) Given a 2-dimension data with its scatter plot, suppose the two lines are the principle
component we have found. Which line (color) should be the PC1? Explain your answer.

    - PC1 should be the red line because it captures the direction where the data points change the most.

# Problem 2: Programming: Data Preprocessing

1. Read the metadata. Answer the following questions, keeping in mind that we are
working with the binary dataset:

    (a) What devices are used to record the data?
        Phasor Measurement Unite

    (b) How many attributes (features) are there in the dataset?
        There are 128 total features in the dataset.

    (c) Among these attributes, how many are non-log attributes?
        116 attributes are non-log attributes

2. Read the data1.csv file into your notebook (download from Canvas). Check the last
column, which is the target (label) column, and print out all categories from the column
(value counts).

In [19]:
# [:, -1:] -> take all rows and include only the last column (colon on right is exclusive)
import pandas as pd
data = pd.read_csv("data1.csv") # read csv file
last_col = data.iloc[:,-1:] # locate _col column using iloc (integer location)
categories = last_col.value_counts()
print(categories)

marker
Attack     3866
Natural    1100
Name: count, dtype: int64

3. Check for missing or unsatisfactory (NaN) values. Drop the samples that contain them.
In this assignment, infinite values (np.inf) are also considered unsatisfactory, so we
will drop them as well. One strategy is to replace these values with NaN (np.nan) and
then drop them as NaN values.

In [45]:
import numpy as np

print("Original Data Rows:",len(data))
new_data = data.replace([np.inf, -np.inf], np.nan) # replace all inf values as nan since we have nominal data in the dataset
filtered_data = new_data.dropna() # drops all rows that have nan values
print("After Filter:", len(filtered_data))

Original Data Rows: 4966
After Filter: 4618

4. Apply stratified sampling to the dataset. The sampled dataset should be 20% of the
original dataset.

In [ ]:
filtered_data['R1-PA1:VH_binned'] = pd.qcut(filtered_data['R1-PA1:VH'], q=923)  # apply equal freq (if we used eq width, the last bins have the same range) binning to any feature to categorize data
sampled_data = filtered_data.groupby('R1-PA1:VH_binned', group_keys=False).apply(lambda x:x.sample(1))  # group the data by the binned data and randomly sample a row from that group
sampled_data

C:\Users\jluza\AppData\Local\Temp\ipykernel_19508\251785023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['R1-PA1:VH_binned'] = pd.qcut(filtered_data['R1-PA1:VH'], q=923)  # apply equal freq (if we used eq width, the last bins have the same range) binning to any feature to categorize data
C:\Users\jluza\AppData\Local\Temp\ipykernel_19508\251785023.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sampled_data = filtered_data.groupby('R1-PA1:VH_binned', group_keys=False).apply(lambda x:x.sample(1))
C:\Users\jluza\AppData\Local\Temp\ipykernel_19508\251785023.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data = filtered_data.groupby('R1-PA1:VH_binned', group_keys=False).apply(lambda x:x.sample(1))

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker,R1-PA1:VH_binned
3827,-179.685294,132236.42600,60.338185,131584.5210,-59.662095,132286.5725,-179.782697,298.28619,60.395481,298.10308,...,0,0,0,0,0,0,0,0,Attack,"(-179.99, -179.438]"
3824,-179.198280,132211.35270,60.830929,131584.5210,-59.180811,132261.4993,-178.928990,297.18753,61.621611,296.27198,...,0,0,0,0,0,0,0,0,Attack,"(-179.438, -179.055]"
504,-178.940449,132035.83980,61.094490,132010.7666,-58.922980,132111.0596,-175.124550,297.37064,61.237729,308.72346,...,0,0,0,0,0,0,0,0,Attack,"(-179.055, -178.94]"
503,-178.923260,132035.83980,61.105949,131985.6933,-58.905791,132111.0596,-174.975581,297.00442,61.203352,308.72346,...,0,0,0,0,0,0,0,0,Attack,"(-178.94, -178.665]"
500,-178.333114,131885.40020,61.696095,131835.2537,-58.298456,131935.5467,-171.377406,284.36983,62.435211,306.89236,...,0,0,0,0,0,0,0,0,Attack,"(-178.665, -178.328]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2483,173.159305,81212.32153,60.670501,123686.4409,-71.419189,125491.7164,110.128218,1541.78620,47.807598,418.77257,...,0,0,0,0,0,0,0,0,Attack,"(172.998, 173.982]"
4751,174.534404,130556.51690,54.557041,130556.5169,-65.431780,130631.7367,175.250601,447.33773,50.082241,477.55088,...,0,0,0,0,0,0,0,0,Natural,"(173.982, 174.752]"
4750,175.004229,130907.54270,55.015407,130907.5427,-64.967684,131007.8358,175.926691,444.95730,50.443204,476.63533,...,0,0,0,0,0,0,0,0,Natural,"(174.752, 175.497]"
2472,176.780398,138429.52370,56.797306,138404.4504,-63.214434,138504.7435,-174.631806,266.79127,58.120839,291.51112,...,0,0,0,0,0,0,0,0,Attack,"(175.497, 178.659]"
514,179.679565,132085.98640,59.713661,132060.9131,-60.309538,132136.1329,179.433193,311.10389,59.261025,310.55456,...,0,0,0,0,0,0,0,0,Attack,"(178.659, 179.995]"

5. In your sampled data, drop all columns that are used for tracking logs.

6. Split the cleaned data from the previous step into attributes and labels. In this dataset,
the column ”marker” is considered the label, and the rest are considered attributes.
After this step, the DataFrame containing your attributes should have 116 columns

In [ ]:
filtered_data = sampled_data.drop(sampled_data.iloc[:, 116:128], axis=1) # drops all columns that are tracking logging (128 is exclusive and 128 is the index for marker)
filtered_data = filtered_data.drop(['R1-PA1:VH_binned'], axis=1)         # drop bin column since we already have the sample
filtered_data

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,R4-PA11:IH,R4-PM11:I,R4-PA12:IH,R4-PM12:I,R4:F,R4:DF,R4-PA:Z,R4-PA:ZH,R4:S,marker
3827,-179.685294,132236.42600,60.338185,131584.5210,-59.662095,132286.5725,-179.782697,298.28619,60.395481,298.10308,...,0.000000,0.000000,0.000000,0.000000,60.000000,0.00,12.679921,0.000539,0,Attack
3824,-179.198280,132211.35270,60.830929,131584.5210,-59.180811,132261.4993,-178.928990,297.18753,61.621611,296.27198,...,0.000000,0.000000,0.000000,0.000000,60.000000,0.00,12.621082,-0.000899,0,Attack
504,-178.940449,132035.83980,61.094490,132010.7666,-58.922980,132111.0596,-175.124550,297.37064,61.237729,308.72346,...,-117.714179,8.056840,13.172300,7.873730,59.999000,0.00,13.767976,-0.078481,0,Attack
503,-178.923260,132035.83980,61.105949,131985.6933,-58.905791,132111.0596,-174.975581,297.00442,61.203352,308.72346,...,-118.413188,8.056840,12.221190,8.056840,60.000000,0.00,13.793166,-0.082463,0,Attack
500,-178.333114,131885.40020,61.696095,131835.2537,-58.298456,131935.5467,-171.377406,284.36983,62.435211,306.89236,...,-113.331052,14.465690,20.941607,13.916360,59.999000,0.00,15.369153,-0.134210,0,Attack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2483,173.159305,81212.32153,60.670501,123686.4409,-71.419189,125491.7164,110.128218,1541.78620,47.807598,418.77257,...,88.190002,435.001373,80.993961,330.299377,60.030998,-0.02,1.257316,1.533190,0,Attack
4751,174.534404,130556.51690,54.557041,130556.5169,-65.431780,130631.7367,175.250601,447.33773,50.082241,477.55088,...,-129.110310,17.944780,5.231105,17.212340,59.988000,0.04,9.273708,-0.026798,0,Natural
4750,175.004229,130907.54270,55.015407,130907.5427,-64.967684,131007.8358,175.926691,444.95730,50.443204,476.63533,...,-128.525893,18.494110,5.448829,17.578560,59.984000,0.04,9.373699,-0.031681,0,Natural
2472,176.780398,138429.52370,56.797306,138404.4504,-63.214434,138504.7435,-174.631806,266.79127,58.120839,291.51112,...,-122.549740,16.771317,21.618348,15.821457,59.999001,0.00,17.770767,-0.154650,0,Attack
514,179.679565,132085.98640,59.713661,132060.9131,-60.309538,132136.1329,179.433193,311.10389,59.261025,310.55456,...,0.000000,0.000000,0.000000,0.000000,59.999000,0.00,12.204667,0.002400,0,Attack

7. For your attribute DataFrame, apply min-max normalization. The range should be
[0,1].